<a href="https://colab.research.google.com/github/jayrajparmar009/Public_DS/blob/master/FuelPrice_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<center> FuelPrice-data-analysis</center>

In [ ]:
from google.colab import drive

Connecting to google drive

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

Importing required dependencies

In [ ]:
from googleapiclient.discovery import build
import requests
import pandas as pd
import numpy as np
import os

In [ ]:
# Important functions to be used in the project later

class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'


def replace_all(df, dic):
    for i, j in dic.items():
      df.columns = df.columns.str.replace(i, j)
      return df

def clean_colnames(df, d, char, col):
  df.drop(col, axis=1,inplace=True)
  replace_all(df,d)
  df.columns = df.columns.map(lambda x: x.split(char)[0])
  return df


def null_values(missing_companies):
    missing_companies = pd.concat([missing_companies.isnull().sum().sort_values(ascending = False),
                         round(missing_companies.isnull().sum()/missing_companies.isnull().count()*100,2).sort_values(ascending=False)],
                              axis=1, keys = ['counts', 'percentage'])
    missing_companies['percentage'] = missing_companies['percentage'].astype(str)+'%'
    missing_companies=missing_companies[missing_companies['counts']>0]
    return(missing_companies)

Changing location of the directory to set to desired folder

In [ ]:
%cd /content/gdrive/MyDrive/google_colab/Fuel_Price

/content/gdrive/MyDrive/google_colab/Fuel_Price

In [ ]:
fuel_price = pd.read_csv('https://ontario.ca/files/fuel-prices/fueltypesall.csv')
fuel_price.head()

         Date  Ottawa  ...                  Fuel Type   Type de carburant
0  01/03/1990    55.9  ...  Regular Unleaded Gasoline  Essence sans plomb
1  01/10/1990    55.9  ...  Regular Unleaded Gasoline  Essence sans plomb
2  01/17/1990    55.9  ...  Regular Unleaded Gasoline  Essence sans plomb
3  01/24/1990    55.9  ...  Regular Unleaded Gasoline  Essence sans plomb
4  01/31/1990    55.9  ...  Regular Unleaded Gasoline  Essence sans plomb

[5 rows x 20 columns]

In [ ]:
fuel_price.columns

Index(['Date', 'Ottawa', 'Toronto West/Ouest', 'Toronto East/Est', 'Windsor',
       'London', 'Peterborough', 'St. Catharine's', 'Sudbury',
       'Sault Saint Marie', 'Thunder Bay', 'North Bay', 'Timmins', 'Kenora',
       'Parry Sound', 'Ontario Average/Moyenne provinciale',
       'Southern Average/Moyenne du sud de l'Ontario',
       'Northern Average/Moyenne du nord de l'Ontario', 'Fuel Type',
       'Type de carburant'],
      dtype='object')

Cleaning column names for ease of use later; Will remove spaces with underscore. And also remove the French part of the description and one column specifically for fuel type description in French. We will use our function <b>clean_colnames</b> after creating a dictionary of all the special character that we'd like to replace

In [ ]:
d = {".":"","'":""," ":"_"}
fuel_price = clean_colnames(fuel_price,d,'/',['Type de carburant'])

In [ ]:
fuel_price.columns

Index(['Date', 'Ottawa', 'Toronto West', 'Toronto East', 'Windsor', 'London',
       'Peterborough', 'St Catharine's', 'Sudbury', 'Sault Saint Marie',
       'Thunder Bay', 'North Bay', 'Timmins', 'Kenora', 'Parry Sound',
       'Ontario Average', 'Southern Average', 'Northern Average', 'Fuel Type'],
      dtype='object')

Checking to see if there are any null values in the dataframe

In [ ]:
null_values(fuel_price)

Empty DataFrame
Columns: [counts, percentage]
Index: []

There are no values in the df

In [ ]:
fuel_price.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9590 entries, 0 to 9589
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               9590 non-null   object
 1   Ottawa             9590 non-null   float64
 2   Toronto West       9590 non-null   float64
 3   Toronto East       9590 non-null   float64
 4   Windsor            9590 non-null   float64
 5   London             9590 non-null   float64
 6   Peterborough       9590 non-null   float64
 7   St Catharine's     9590 non-null   float64
 8   Sudbury            9590 non-null   float64
 9   Sault Saint Marie  9590 non-null   float64
 10  Thunder Bay        9590 non-null   float64
 11  North Bay          9590 non-null   float64
 12  Timmins            9590 non-null   float64
 13  Kenora             9590 non-null   float64
 14  Parry Sound        9590 non-null   float64
 15  Ontario Average    9590 non-null   float64
 16  Southern Average   9590 non-null   float64
 17  Northern Average   9590 non-null   float64
 18  Fuel Type          9590 non-null   object
dtypes: float64(17), object(2)
memory usage: 2.5 MB

In [ ]:
fuel_price.describe()

            Ottawa  Toronto West  ...  Southern Average  Northern Average
count  9590.000000   9590.000000  ...       9590.000000       9590.000000
mean     76.875214     75.333775  ...         68.358436         74.631825
std      33.910880     34.841599  ...         42.006753         43.127923
min       0.000000      0.000000  ...          0.000000          0.000000
25%      54.900000     51.900000  ...         48.800000         52.500000
50%      71.050000     67.750000  ...         64.000000         74.200000
75%     101.200000    102.800000  ...        102.200000        107.400000
max     156.200000    158.300000  ...        156.200000        160.200000

[8 rows x 17 columns]

In [ ]:
fuel_price[['Peterborough','St._Catharine's']]

Index(['Date', 'Ottawa', 'Toronto_West', 'Toronto_East', 'Windsor', 'London',
       'Peterborough', 'St._Catharine's', 'Sudbury', 'Sault_Saint_Marie',
       'Thunder_Bay', 'North_Bay', 'Timmins', 'Kenora', 'Parry_Sound',
       'Ontario_Average', 'Southern_Average', 'Northern_Average', 'Fuel_Type'],
      dtype='object')